@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1282px;
        padding: 0;
    }
    header .container {
        background: #ffffff;
    }
    .rightblock p{
        margin: 0 150px 0 0;
    }
    .subtitle-kviz {
        margin: 20px 160px 20px 0px;
    }
    .title-kviz {
        padding: 0 29% 0 0;
    }
}

@media (max-width: 1500px) {
    header .container {
        background: #ffffff;
    }

}

@media (max-width: 1230px) {
    .leftbar {
        width: 29%;
        margin-right: 16px;
    }

    .rightblock {
        width: 69%;
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 1199px) {
    .footer-right .button-open-pp {
        margin-left: 0px;
        min-width: 120px;
    }
    .footer-nav li {
        margin: 5px 20px 0 0;
    }
    .main-page-links {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home {
        min-height: 38vh;
        padding: 101px 0 0;
    }
}

@media (max-width: 1024px) {
    .footer-right.no-m {
        margin-top: 0;
    }


    .desktop-w100 {
        width: 100%;
    }

    .footer-nav, .footer-right {
        display: flex;
        justify-content: center;
    }

    .footer-right {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px
    }

    .footer-nav li {
        margin: 0 17px;
    }

    .footer-right .button-open-pp {
        margin: 0 17px;
    }

    .button-open-pp.bg-white {
        min-width: 180px;
    }

    ul.footer-apps li {
        display: inline;
        margin: 0 15px;
    }

    ul.footer-apps {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    .btn{
        min-width: auto;
    }
    .form-block form, .govern-block {
        width: 400px;
    }

    .leftbar {
        margin-right: 13px;
    }

    .block-card {
        margin: 0 10px 20px;
    }

    .rightblock {
        height: auto;
    }

    .desktop-none {
        display: block;
    }

    .mobile-none {
        display: none;
    }
}

@media (max-width: 768px) {
    a.page-next{
        margin-left: 28px;
    }
    a.page-prev{
        margin-right: 28px;
    }
    .pagination a.page-prev, a.page-next {
        width: 26px;
    }
    .pagination ul{
     display: flex;
    }
    .pagination ul li a{
        width: 28px;
        height: 28px;
    }
    header .container {
        width: 100%;
        padding: 0;
    }
    .container{
        padding: 0 15px;
    }
    .accordion {
         display: none;
        position: fixed;
        top: calc(50vh - 290px);
        left: calc(50% - 190px);
        /* width: 100%; */
        background: #ffffff;
        z-index: 9999;
        height: 580px;
        width: 380px;
        padding-top: 70px;
        border-radius: 7px;
    }

    .checked-item{
        position: relative;
        display: block;
        background: #FFFFFF;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 20px;
        width: 100%;
    }
    .checked-item:before {
        border-radius: 1px;
        height: 2px;
        width: 18px;
        position: absolute;
        right: 7px;
        top: 19px;
        content: " ";
        background: #435FC2;
        z-index: 99;
        transform: rotate(
                -45deg
        );
    }
    .checked-item:after {
        border-radius: 1px;
        height: 2px;
        width: 18px;
        position: absolute;
        right: 19px;
        top: 19px;
        content: " ";
        background: #435FC2;
        z-index: 99;
        transform: rotate(
                45deg
        );
    }
    .title-lb {
        display: none;
    }

    .leftbar {
        margin-right: 0;
        width: 100%;
        min-height: auto;
        margin-bottom: 40px;
    }

    .rightblock {
        width: 100%;
    }

    body {
        background: #ffffff !important;
    }

    .close-popup:before .close-popup:after {
        width: 32px;
    }

    .close-popup {
        position: absolute;
        top: 38px;
        right: 14px;
        width: 30px;
        height: 31px;
        cursor: pointer;
    }

    .popup {
        width: 360px;
        padding: 80px 0 80px;
    }

    .popup form {
        width: auto;
        padding: 0 8px;
    }

    .footer-nav li {
        text-align: center;
        display: block;
        margin: 5px 0px 20px 0;
        list-style: none;
    }

    .mobile-w100 {
        width: 100%;
    }

    .main-page-links {
        padding: 60px 0;
    }

    #hamburger-icon {
        display: inline-block;
    }

    .header {
        width: auto;
        z-index: 99;
        background: #ffffff;
        position: sticky;
        padding: 0 10px;
        top: 23px !important;
    }

    .main-top {
        display: flex;
        flex-direction: column;
    }

    .home {
        min-height: 38vh;
        padding: 60px 0 0;
    }

    .header-right {
        background: rgba(255, 255, 255, 0.9);
        align-items: flex-end;
        flex-direction: column;
        justify-content: initial;
        display: none;
        transition: all 0.3s;
        padding: 90px 32px 25px;
        height: 100vh;
        position: absolute;
        right: 0px;
        left: auto;
    }

    .header-right.header-right-open {
        display: flex;
        transition: all 0.3s;
    }

    .header-right .header-right-item {
        margin-bottom: 20px;
    }

    .footer-right .button-open-pp {
        margin-left: 0px;
    }

    .button-open-pp.bg-white {
        min-width: 120px;
        background: #ffffff;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        margin-top: 36px;
        margin-bottom: 10px;
    }

    .form-select-block.border-r {
        border-right: 2px solid #D6D6D6;
    }

    .footer-right .form-select-block {
        height: 18px;
    }

    .footer-right .button-open-pp {
        padding: 0px 16px;
    }

    .footer-right .form-select-block:before, .footer-right .form-select-block:after {
        top: 10px;
    }


    ul.footer-apps li {
        display: inline-block;
        margin: 0 15px;
    }

    .footer-apps {
        display: flex;
    }

    .c-6.mt-40.mobile-w100 {
        margin-top: 0;
    }

    .footer-nav {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }

    footer {
        background: #F3F3F3;
        padding: 10px 0 50px;
    }

    .footer-right .button-open-pp.bg-white {
        background: none;
    }

    .footer-right .button-open-pp {
        margin: 0px 0px;
    }

    .footer-right .form-select-block .button-open-pp {
        width: 123px;
    }

    .form-control-btns {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .form-control-btns .btn-pp {
        margin: 0;
    }
    .footer-right .button-open-pp {
        background: none;}
}
@media (max-width: 470px) {
    .accordion {
        display: none;
        position: fixed;
        top: calc(50vh - 290px);
        left: calc(50% - 170px);
        /* width: 100%; */
        background: #ffffff;
        z-index: 9999;
        height: 580px;
        width: 340px;
        padding-top: 70px;
        border-radius: 7px;
    }
    .open-close-btn {
        position: relative;
        top: 19px;
        left: -7px;
    }
    .form-block form, .govern-block {
        width: 350px;
    }
    .navs {
        position: relative;
        float: right;
        display: flex;
        right: 0px;
    }
    .rightblock input[type="text"]{
        width: 328px;
    }
}
@media (max-width: 360px) {
    .accordion {
        display: none;
        position: fixed;
        top: calc(50vh - 290px);
        left: calc(50% - 165px);
        /* width: 100%; */
        background: #ffffff;
        z-index: 9999;
        height: 580px;
        width: 327px;
        padding-top: 70px;
        border-radius: 7px;
    }
    .btn-pp {
        width: 150px;
        margin: 20px;
        display: block;
        padding: 9px 5px;}
    .popup {
        width: 258px;}
    .form-select-block.border-r {
        border-right: none;
    }
    .footer-right .form-select-block {
        height: 34px;
    }
    .rightblock input[type="text"]{
        width: 300px;
    }
    .form-block form, .govern-block {
        width: 300px;
    }
    .footer-right.footer-btns{
        flex-direction: column;
        align-items: center;
    }
    .block-card {
        width: 238px;}
}